extends ../layouts/shop/main

block styles
  link(rel="stylesheet", href="/css/core/form.css")

block content
  section.main-section
    form.form(action='/create-new-password', method="POST")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="hidden" name="userId" value=userId)
      input(type="hidden" name="token" value=token)
      .input-wrapper
        label.input-label(for="password") New Password
        input.form__input(id="password", type="password", name="password" )
      .input-wrapper
        label.input-label(for="password") Confirm New Password
        input.form__input(id="confirmPassword", type="password", name="confirmPassword" )
      if error
        .input-wrapper
          .error #{error}
      button.form__button(type="submit") Submit New Password

