extends ../layouts/shop/main

block styles
  link(rel="stylesheet", href="/css/core/form.css")

block content
  section.main-section
    form.form(action='/login', method="POST" novalidate="true")
      input(type="hidden" name="_csrf" value=csrfToken)
      .input-wrapper
        label.input-label(for="email") Email
        .input-error-wrapper
          input.form__input(id="email", type="email", name="email")
          if (errors && errors.email)
            .error #{errors.email}
      .input-wrapper
        label.input-label(for="password") Password
        .input-error-wrapper
          input.form__input(id="password", type="password", name="password" )
          if (errors && errors.password)
            .error #{errors.password}
      .input-wrapper
        a.reset_link(href="/reset-password") Reset Password
      button.form__button(type="submit") Login

