extends ../layouts/shop/main

block styles
  link(rel="stylesheet", href="/css/core/form.css")

block content
  section.main-section
    form.form(action='/signUp', method="POST")
      input(type="hidden" name="_csrf" value=csrfToken)
      .input-wrapper
        label.input-label(for="email") Email
        input.form__input(id="email", type="email", name="email")
      .input-wrapper
        label.input-label(for="password") Password
        input.form__input(id="password", type="password", name="password" )
      .input-wrapper
        label.input-label(for="confirmPassword") Confirm Password
        input.form__input(id="confirmPassword", type="password", name="confirmPassword" )
      button.form__button(type="submit") Sign Up

