<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{pageTitle}
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/user.css")
    block styles
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__list
          li
            a.main-header__link(href="/users/", class=(path==='/' ? 'main-header__link-active' : '')) Add user
          li
            a.main-header__link(href="/users/list", class=(path==="/admin/add-product" ? 'main-header__link-active' : '')) User list

    main
      div.wrapper
        block content

