.cart-product {
    display: flex;
    align-items: center;
}

.cart-buttons {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    border: 2px solid #9a34f3;
}

.cart__action-button {
    margin: 0 0.5rem;
    outline: none;
    background-color: unset;
    font-size: 1.2rem;
    border: none;
}

.cart-price__wrapper {
    margin-top: 2rem;
}

.cart__checkout-link {
    display: block;
    margin-top: 48px;
    font-size: 18px;
    padding: 0.5rem;
    border: 1px solid #9a34f3;
    color: #9a34f3;
    width: fit-content;
}
