<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>user home</title>
    <link rel="stylesheet" href="/css/userhome.css"/>
</head>
<body>
    <header class="user-header">
        <nav class="user-header__nav">
            <ul class="user-header__list">
                <li>
                    <a class="user-header__link" href="/users/">Home</a>
                </li>
                <li>
                    <a class="user-header__link" href="/users/list">User list</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1 class="user-header">Welcome to user Page</h1>
</body>
</html>
