extends ../layouts/shop/main

block content
  h1 Order
  h2 Total price: #{order.totalPrice}$
  if order.items && order.items.length
    each product in order.items
      .order-product
        .span #{product.title}
        .span #{product.price}
        .span #{product.count}
  else
    h2 No products in current order
